/* Hide the default checkbox */
.app-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1; /* Keeps the input from interfering visually */
}
.small {
  transform: scale(0.9);
}
/* Style the span that will act as the custom checkbox */
.app-checkbox span {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid var(--color-black);
  border-radius: 3px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Add the check mark */
.app-checkbox span::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: scale(0) translate(-50%, -50%) rotate(45deg);
  transition: transform 0.2s ease;
}

/* Change the appearance when the checkbox is checked */
.app-checkbox input[type="checkbox"]:checked + span {
  background-color: var(--color-purple);
  border-color: black;
}

/* Show the check mark when checked */
.app-checkbox input[type="checkbox"]:checked + span::after {
  transform: scale(1) translate(-50%, -50%) rotate(45deg);
}

.app-checkbox input[type="checkbox"]:focus + span {
  outline: 2px solid blue;
  outline-offset: 2px;
}
