.delay1{
  animation-delay: 0.1s !important;
}
.delay2{
  animation-delay: 0.3s !important;
}
.delay3{
  animation-delay: 0.5s !important;
}
.delay4{
  animation-delay: 0.7s !important;
}
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-up {
    animation: fadeInUp 0.4s ease-out;
    animation-delay: 0.15s;
    animation-fill-mode: backwards;
  }


.fade-in {
    animation: fadeIn 0.4s ease-in-out;
    animation-fill-mode: backwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .transition {
    transition: all 0.3s ease;
  }